<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Cuentas</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="static/product-admin/css/fontawesome.min.css">
    <link rel="stylesheet" href="static/product-admin/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/product-admin/css/templatemo-style.css">
    <style>
        body {
            background-color: #fff; /* Fondo blanco */
            color: #000; /* Texto negro */
            font-family: 'Roboto', sans-serif;
        }
        .navbar {
            background-color: #829eb4  !important; /* Gris */
        }
        .navbar-brand {
            color: #fff !important; 
        }
        .navbar-toggler {
            border-color: #fff !important; /* Azul */
        }
        .navbar-nav .nav-link {
            color: #fff !important; /* Azul */
        }
        .navbar-nav .nav-link:hover {
            color: #fff !important; /* Azul */
        }
        .navbar-nav .nav-item.active .nav-link {
            color: #fff !important; /* Azul */
        }
        .tm-footer {
            background-color: #829eb4; /* Gris */
            color: #fff; /* Blanco */
        }
        .tm-footer a {
            color: #6c82ac; /* Azul */
        }
        .tm-footer a:hover {
            color: #fff;
        }
        .tm-bg-primary-dark {
            background-color: #829eb4 !important;
            border-color: #333 !important;
        }
        .btn-primary {
            background-color: #fff !important; /* Azul */
            border-color: #6c82ac !important; /* Azul */
        }
        .btn-primary:hover {
            background-color: #fff !important; /* Azul claro */
            border-color: #fff !important; /* Azul claro */
        }
        .tm-site-title {
            color: #fff;
        }
        .tm-block-title {
            color: #fff !important; /* Azul */
        }
        .form-control {
            background-color: #50657b;
            color: #fff; /* Azul */
            border-color: #444;
        }
        .form-control:focus {
            border-color: #fff; /* Azul */
            box-shadow: 0 0 0 0.2rem rgba(108, 130, 172, 0.25); /* Azul claro */
        }
        .btn-primary.btn-block {
            background-color: #50657b !important; /* Azul */
            border-color: #fff !important; /* Azul */
        }
        .btn-primary.btn-block:hover {
            background-color: #50657b !important; /* Azul claro */
            border-color: #fff !important; /* Azul claro */
        }
    </style>
</head>
<body id="reportsPage">
<div class="" id="home">
    <nav class="navbar navbar-expand-xl">
        <div class="container h-100">
            <a class="navbar-brand" href="index.html">
                <h1 class="tm-site-title mb-0">ADMINISTRACIÓN DE PRODUCTOS</h1>
            </a>
            <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars tm-nav-icon"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto h-100">
                    <li class="nav-item">
                        <a class="nav-link " href="index.html">
                            <i class="far fa-file-alt"></i>
                            Informes
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="products.html">
                            <i class="fas fa-shopping-cart"></i>
                            Productos
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="accounts.html">
                            <i class="far fa-user"></i>
                            Cuentas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="home.html">
                            <i class="fas fa-dollar-sign"></i>
                            Tienda Aldea Moda
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link d-block" href="login.html">
                            <b>Cerrar sesión de Administrador</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
    <div class="container mt-5">
        <div class="row tm-content-row">
            <div class="col-12 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <h2 class="tm-block-title">Lista de cuentas</h2>
                    <p class="text-white">Cuentas</p>
                    <select id="id" class="custom-select"  onchange="cargarDatos()">
                        <option value="0">Seleccionar cuenta</option>
                        <% accounts.forEach(function(account) { %>
                        <option value="<%= account.id %>"><%= account.nombre %></option>
                        <% }); %>
                    </select>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row tm-content-row">
            <div class="tm-block-col tm-col-account-settings">
                <div class="tm-bg-primary-dark tm-block tm-block-settings">
                    <h2 class="tm-block-title">Configuraciones de la cuenta</h2>
                    <form id="form" action="/updateAccount" method="post" class="tm-signup-form row">
                        <div class="form-group col-lg-6">
                            <label for="name" style="color: #fff;">Nombre de la cuenta</label>
                            <input
                                    id="name"
                                    name="name"
                                    type="text"
                                    class="form-control validate"
                            />
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="email" style="color: #fff;">Cuenta de email</label>
                            <input
                                    id="email"
                                    name="email"
                                    type="email"
                                    class="form-control validate"
                            />
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="password" style="color: #fff;">Contraseña</label>
                            <div class="input-group">
                            <input
                                    id="password"
                                    name="password"
                                    type="password"
                                    class="form-control validate"
                                    aria-describedby="showPassword"
                            />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="showPassword">
                                    <i class="fa fa-eye" aria-hidden="true" style="color: #fff;"></i>
                                </button>
                            </div>
                        </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="password2" style="color: #fff;">Escriba la contraseña otra vez</label>
                            <input
                                    id="password2"
                                    name="password2"
                                    type="password"
                                    class="form-control validate"
                            />
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="phone" style="color: #fff;">Teléfono</label>
                            <input
                                    id="phone"
                                    name="phone"
                                    type="tel"
                                    class="form-control validate"
                            />
                        </div>
                        <div class="form-group col-lg-6">                            
                        <input
                                    id="accountId"
                                    name="id"
                                    type="text"
                                    style="display: none;"
                                    value="-1"
                            />
                        </div>
                        <div class="form-group col-lg-12">
                            <button
                                    type="submit"
                                    class="btn btn-primary btn-block text-uppercase"
                                    id="btnActualizar"
                            >
                            Agregar Nueva Cuenta
                            </button>
                        </div>
                        <div class="form-group col-lg-12">
                            <button
                                    type="button"
                                    class="btn btn-primary btn-block text-uppercase"
                                    id="eliminarCuenta"
                                    onclick="borrarCuenta()"
                            >
                                Eliminar tu cuenta
                            </button>
                        </div>
                        </form>                      
                    
                </div>
            </div>
        </div>
    </div>
    <footer class="tm-footer row tm-mt-small">
        <div class="col-12 font-weight-light">
            <p class="text-center text-white mb-0 px-4 small">
              Derechos de autor &copy; <b>2024</b> Todos los derechos reservados 
            </p>
        </div>
    </footer>
</div>

<script src="static/product-admin/js/jquery-3.3.1.min.js"></script>
<script src="static/product-admin/js/bootstrap.min.js"></script>
<script>
    function cargarDatos(){
        const id = $('#id').val();

        $("#btnActualizar").text("Actualiza tu perfil");
        $("#email").prop("readonly", true);
        
        $.ajax({
            type: 'POST',
            url: '/loadAccount',
            data: {id : id},
            success : function(res){
                //Manejar respuesta del servidor
                console.log('La petición fué exitosa', res);
                $('#name').val(res[0].nombre);
                $('#email').val(res[0].email);
                $('#password').val(res[0].password);
                $('#phone').val(res[0].phone);
                $('#accountId').val(res[0].id);
            },
            error : function (error){
                //Manejar errores
                console.error('Error al cargar la cuenta');
            }
        });
    }

    function borrarCuenta(){
        var id = $('#accountId').val();

        $.ajax({
            type: 'POST',
            url: '/deleteAccount',
            data: {id : id},
            success : function(res){
                //Manejar respuesta del servidor
                alert('La cuenta se eliminó exitosamente!');
                window.location.reload();
            },
            error : function (error){
                //Manejar errores
                console.error('Error al cargar la cuenta');
            }
        });
    }

    $('#showPassword').click(function() {
        var tipo = $('#password').attr('type');
        if (tipo === 'password') {
            $('#password').attr('type', 'text');
            $('#showPassword i').removeClass('fa-eye').addClass('fa-eye-slash');
        } else {
            $('#password').attr('type', 'password');
            $('#showPassword i').removeClass('fa-eye-slash').addClass('fa-eye');
        }
    });

    $('#form').submit(function(event) {
            // Obtener los valores de los campos de contraseña
            var password = $('#password').val();
            var password2 = $('#password2').val();

            // Verificar si las contraseñas son iguales
            if (password !== password2 && password2 !== "") {
                // Las contraseñas no son iguales, evitar enviar el formulario
                alert("Las contraseñas no coinciden");
                event.preventDefault(); // Evitar el envío del formulario
            }
        });
</script>
</body>
</html>
